/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

textarea {
  outline: none !important;
  resize: none;
  overflow: hidden;
}
